In [1]:
using DataFrames

In [3]:
df = readtable("out.csv", separator=',',header=false);

In [4]:
df

17662984×4 DataFrames.DataFrame
│ Row      │ x1    │ x2                    │ x3      │ x4      │
├──────────┼───────┼───────────────────────┼─────────┼─────────┤
│ 1        │ 10000 │ "2008-02-02 13:39:48" │ 116.359 │ 39.9367 │
│ 2        │ 10000 │ "2008-02-02 13:44:50" │ 116.359 │ 39.9369 │
│ 3        │ 10000 │ "2008-02-02 13:49:52" │ 116.359 │ 39.9368 │
│ 4        │ 10000 │ "2008-02-02 13:54:54" │ 116.359 │ 39.9365 │
│ 5        │ 10000 │ "2008-02-02 13:54:54" │ 116.359 │ 39.9365 │
│ 6        │ 10000 │ "2008-02-02 13:59:56" │ 116.359 │ 39.9366 │
│ 7        │ 10000 │ "2008-02-02 14:04:58" │ 116.359 │ 39.9368 │
│ 8        │ 10000 │ "2008-02-02 14:10:00" │ 116.359 │ 39.9366 │
│ 9        │ 10000 │ "2008-02-02 14:15:02" │ 116.359 │ 39.9367 │
│ 10       │ 10000 │ "2008-02-02 14:20:04" │ 116.359 │ 39.9366 │
│ 11       │ 10000 │ "2008-02-02 14:25:06" │ 116.359 │ 39.9365 │
⋮
│ 17662973 │ 9     │ "2008-02-08 11:04:57" │ 117.127 │ 40.1613 │
│ 17662974 │ 9     │ "2008-02-08 11:10:57" │ 117.116 │ 40.185  │
│ 17662975 │ 9     │ "2008-02-08 11:16:28" │ 117.116 │ 40.185  │
│ 17662976 │ 9     │ "2008-02-08 11:33:24" │ 117.116 │ 40.185  │
│ 17662977 │ 9     │ "2008-02-08 11:39:24" │ 117.109 │ 40.2195 │
│ 17662978 │ 9     │ "2008-02-08 11:40:18" │ 117.109 │ 40.2195 │
│ 17662979 │ 9     │ "2008-02-08 12:17:56" │ 117.109 │ 40.2195 │
│ 17662980 │ 9     │ "2008-02-08 12:23:56" │ 117.108 │ 40.1902 │
│ 17662981 │ 9     │ "2008-02-08 17:20:02" │ 117.108 │ 40.1902 │
│ 17662982 │ 9     │ "2008-02-08 17:26:02" │ 117.105 │ 40.1656 │
│ 17662983 │ 9     │ "2008-02-08 17:32:02" │ 117.105 │ 40.1393 │
│ 17662984 │ 9     │ "2008-02-08 17:38:02" │ 117.108 │ 40.1142 │

In [5]:
tic()
df2 = DataFrame(x1=union(sort(df[:x1])))
join(df,df2, on=:x1, kind=:left)
toc()

elapsed time: 9.368516215 seconds

9.368516215

In [6]:
nprocs()

1