In [8]:
tot = ""
a= ["hej", "bla", "ch"]
b = 2
for i in range(0, b):
    tot += a[i]
    if i < b-1:
        tot += ","
    
print(tot)

hej,bla

In [15]:
a = 3
if a == 3:
    b = 2
else:
    b = 5
    
print(b)

2

In [4]:
using DataFrames

In [31]:
function init_a()
    a = DataFrame(first = [1,2], second = [3,4])
    return a
end

init_a (generic function with 1 method)

In [32]:
a = init_a()

2×2 DataFrames.DataFrame
│ Row │ first │ second │
├─────┼───────┼────────┤
│ 1   │ 1     │ 3      │
│ 2   │ 2     │ 4      │

In [33]:
function add(data::DataFrame)
    push!(data, [3, 5])
    #return data::DataFrame
end

add (generic function with 1 method)

In [34]:
add(a)

In [35]:
a

3×2 DataFrames.DataFrame
│ Row │ first │ second │
├─────┼───────┼────────┤
│ 1   │ 1     │ 3      │
│ 2   │ 2     │ 4      │
│ 3   │ 3     │ 5      │

In [36]:
function delete(data::DataFrame)
    deleterows!(data, 1:nrow(data))
end

delete (generic function with 1 method)

In [37]:
delete(a)

0×2 DataFrames.DataFrame

In [38]:
a

0×2 DataFrames.DataFrame

In [40]:
getindex

getindex (generic function with 236 methods)